<footer>
       
  <div class="container-footer-all">
   
       <div class="container-body">

           <div class="colum1">
               <h1>Mas informacion de la compañia</h1>

               <p>Esta compañia se dedica a la venta de servios de internet con  
               fibra optica lo cual ofrecemos diferentes planes de internet 
               contamos con cobertura en diferentes distritos del perú</p>

           </div>

           <div class="colum2">

               <h1>Redes Sociales</h1>

               <div class="row">
                   <img src="../../../assets/img/facebook.png">
                   <label>Siguenos en Facebook</label>
               </div>
               <div class="row">
                   <img src="../../../assets/img/twitter.png">
                   <label>Siguenos en Twitter</label>
               </div>
               <div class="row">
                   <img src="../../../assets/img/instagram.png">
                   <label>Siguenos en Instagram</label>
               </div>
               <div class="row">
                   <img src="../../../assets/img/google-plus.png">
                   <label>Siguenos en Google Plus</label>
               </div>
               <div class="row">
                   <img src="../../../assets/img/pinterest.png">
                   <label>Siguenos en Pinteres</label>
               </div>


           </div>

           <div class="colum3">

               <h1>Informacion Contactos</h1>

               <div class="row2">
                   <img src="../../../assets/img/house.png">
                   <label>St.1 Gp:3 Mz:h Villa 
                     El salvador
                   </label>
               </div>

               <div class="row2">
                   <img src="../../../assets/img/smartphone.png">
                   <label>+51 922659760</label>
               </div>

               <div class="row2">
                   <img src="../../../assets/img/contact.png">
                    <label>josuepro711@hotmail.com</label>
               </div>

           </div>

       </div>
   
   </div>
   
   <div class="container-footer">
          <div class="footer">
               <div class="copyright">
                   © 2022 Todos los Derechos Reservados | <a href="">Movitec</a>
               </div>

               <div class="information">
                   <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
               </div>
           </div>

       </div>
   
</footer>