<div class="container">
    <div class="contain">
        <div class="menu-item uno">
            <p>DEUDA ACTUAL</p>
            <p>S/.-0.10</p>
            <hr/>
        </div>
        <div class="menu-item dos">
            <p>TICKET SOPORTE</p>     
            <div><p class="cero">0</p> Ticket abierto(s)</div>
            <hr/>
        </div>
        <div class="menu-item tres">
            <p>CONSUMO DEL MES</p>
            <p>0 <i class="fa-solid fa-arrow-down"></i></p>
            <hr/>
            <a href="">Ver Consumo actual <i class="fa-solid fa-angles-right"></i></a>
        </div>
        <div class="menu-item cuatro">
            <p>ESTADO</p>
            <p>{{estado?"ACTIVO":"INACTIVO"}}</p>
            <hr/>
            <a href="">Ver Mis datos <i class="fa-solid fa-angles-right"></i></a>
        </div>  
    </div>
</div>