.menu_lista-item{
    list-style: none;
}

.menu-item{
    border: 1px solid skyblue;
    display: flex;
    justify-content: center;
}

.menu-item a{
    text-decoration: none;
    color: rgb(98, 98, 245);
    padding: 20px 50px;
    width: 100%;
    text-align: center;
}

.menu-item a:hover{
    background-color: rgb(218, 205, 253);
}