<section class="menu-admin">
    <ul class="menu_lista-admin">
        <li class="menu-item"><a routerLink="planes">PLANES</a></li>
        <li class="menu-item"><a routerLink="usuarios">CLIENTES</a></li>
        <li class="menu-item"><a routerLink="empleados">EMPLEADOS</a></li>
        <li class="menu-item"><a routerLink="equipos">EQUIPOS</a></li>
        <li class="menu-item"><a routerLink="cambiaContra">CAMBIAR CONTRASEÑA</a></li>
        <li class="menu-item"><img src="../../../assets/img/personal.png" alt=""></li>
    </ul>
</section>