<main>
  <section class="main-carrusel">
    <figure class="main-carrusel-content">
      <ul>
        <li class="li-car1"><img class="car1" src="../../../assets/img/slider1.jpg" alt="imagen de slider"></li>
        <li class="li-car2"><img class="car2" src="../../../assets/img/imgCar2.jpg" alt="imagen de slider"></li>
      </ul>
    </figure>
  </section>

  <section class="main-planes">
    <h1 class="planes-title">Planes de Movitec</h1>
    <div class="main-planes-content">
      <article class="plan1 plan">
        <P>{{planes[0].velocidad}} Mbps</P>
        <p>S/{{planes[0].precio}} mensual</p>
        <div><img src="../../../assets/img/iconFO.png" alt="icon">Fibra óptica</div>
        <div><img src="../../../assets/img/iconII.png" alt="icon">Internet ilimitado y simétrico</div>
        <div><img src="../../../assets/img/iconVI.png" alt="icon">Mayor velocidad</div>
        <div><button routerLink="../contact">Obtener plan</button></div>
      </article>
      <article class="plan2 plan">
        <P>{{planes[1].velocidad}} Mbps</P>
        <p>S/{{planes[1].precio}} mensual</p>
        <div><img src="../../../assets/img/iconFO.png" alt="icon">Fibra óptica</div>
        <div><img src="../../../assets/img/iconII.png" alt="icon">Internet ilimitado y simétrico</div>
        <div><img src="../../../assets/img/iconVI.png" alt="icon">Mayor velocidad</div>
        <div><button routerLink="../contact">Obtener plan</button></div>
      </article>
      <article class="plan3 plan">
        <P>{{planes[2].velocidad}} Mbps</P>
        <p>S/{{planes[2].precio}} mensual</p>
        <div><img src="../../../assets/img/iconFO.png" alt="icon">Fibra óptica</div>
        <div><img src="../../../assets/img/iconII.png" alt="icon">Internet ilimitado y simétrico</div>
        <div><img src="../../../assets/img/iconVI.png" alt="icon">Mayor velocidad</div>
        <div><button routerLink="../contact">Obtener plan</button></div>
      </article>
    </div>
  </section>

  <section class="main-beneficios">
    <h1 class="beneficios-title">Beneficios de nuestro internet</h1>
    <div class="main-beneficios-content">
      <article class="ben1 ben">
        <figure>
          <img src="../../../assets/img/iconFibraOptica.png" alt="icon">
        </figure>
        <p>TECNOLOG&Iacute;A</p>
        <p>Fibra &Oacute;ptica</p>
      </article>
      <article class="ben2 ben">
        <figure>
          <img src="../../../assets/img/iconVelocidad.png" alt="icon">
        </figure>
        <p>MAYOR VELOCIDAD</p>
        <p>Descarga y sube archivos en segundos</p>
      </article>
      <article class="ben3 ben">
        <figure>
          <img src="../../../assets/img/iconAhorro.png" alt="icon">
        </figure>
        <p>MEJOR PRECIO</p>
        <p>Gasta menos con mejor internet</p>
      </article>
    </div>
  </section>

  <section class="main-distrito">
    <p>¡Busca tu distrito!</p>
    <select (change)="navegar()" name="distrito" id="distrito" [(ngModel)]="distrito">
      <option *ngFor="let item of distritos" value="{{item.distrito}}">{{item.distrito}}</option>
    </select>
  </section>

</main>


