<div class="container">
    <h1>Usuarios</h1>
    <table class="tabla-usuarios">
        <thead>
            <th>SELECCIONAR</th>
            <th>NOMBRE Y APELLIDO</th>
            <th>USERNAME</th>
            <th>CORREO</th>
            <th>ESTADO</th>
            <th>TIPO DOCUMENTO</th>
            <th>N&Uacute;MERO DOCUMENTO</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of usuarios">
                <td>-</td>
                <td>{{item.nombre+" "+item.apellidos}}</td>
                <td>{{item.nombre_Usuario}}</td>
                <td>{{item.correo}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.documento}}</td>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <a class="agregar" href="">AGREGAR</a>
        <a class="eliminar" href="">ELIMINAR</a>
        <a class="editar" href="">EDITAR</a>
    </div>
</div>